{{>head}}
<title>My Site| Gallery</title>
</head>
{{>navbar}}

  <div class="cotainer-fluid m-3 p-1 text-center">
   <div class="card">
   <img src="images/p8.jpg" class="card-img-top" alt="...">
   <div class="card-body">
    <h5 class="card-title">Picture-1</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="https://unsplash.com/s/photos/natural"target="blank"class="btn btn-success w-100">Go Gallery</a>
    </div>
 </div>
<div class="card">
  <img src="images/p2.jpg" class="card-img-top " alt="...">
  <div class="card-body">
    <h5 class="card-title">Picture-2</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="https://unsplash.com/s/photos/natural"target="blank"class="btn btn-success w-100">Go Gallery</a>
  </div>
</div>
<div class="card">
  <img src="images/p3.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Picture-3</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
   <a href="https://unsplash.com/s/photos/natural"target="blank"class="btn btn-success w-100">Go Gallery</a>>
  </div>
</div>
<div class="card">
  <img src="images/p4.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Picture-4</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 <a href="https://unsplash.com/s/photos/natural"target="blank"class="btn btn-success w-100">Go Gallery</a>
  </div>
</div>
<div class="card">
  <img src="images/p5.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Picture-5</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<a href="https://unsplash.com/s/photos/natural"target="blank"class="btn btn-success w-100">Go Gallery</a>
  </div>
</div>

</div>
 </div> 
  
{{>footer}}