{{>head}}
<title>MySite| Service</title>
</head>
{{>navbar}}
<div class="col-lg-2 col-md-3 col-sm-6 col-12"></div>
<div class=" mt-3 border p-3 ">
<img src="images/p7.jpg"alt="..."width="350px" height="300px"style="border-radius:15px">
<div class="card-body">
   <p class="p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni voluptatibus ipsa sed cum, dolores omnis ab beatae pariatur doloribus enim minima ipsum voluptatem adipisci fugiat quis error qui, cumque nisi, earum molestiae aliquam. Facere repudiandae iste praesentium optio tempore nam quos. Asperiores, fugit velit praesentium harum sit sequi nemo a quod soluta similique voluptatum non quisquam accusamus dolor in quidem nesciunt? Quisquam, id cupiditate? Odio magni ipsam praesentium dolorem accusamus laborum eaque sequi laboriosam, ad sit dolores exercitationem vel dignissimos cumque quos odit voluptatibus quaerat quasi itaque possimus officiis? Sapiente voluptatibus rem aliquam dicta. Perspiciatis reiciendis accusantium rerum aspernatur, ab tempora! Quod non vero aperiam nemo, facilis quis a velit blanditiis molestias quo reiciendis modi molestiae assumenda culpa iusto rem aspernatur quam dignissimos! Provident accusamus praesentium, totam ducimus sint cumque deserunt ea laborum illum ratione quam cum nisi ut, aperiam odit modi quidem alias eaque at sapiente perferendis. Minus maxime ab sapiente hic perferendis quod quasi maiores magnam alias dolore eius, beatae facere mollitia voluptate deserunt id, ipsum doloremque illo nostrum commodi saepe dignissimos? Nam minima debitis porro aspernatur quos? Est et cupiditate tenetur illum fuga necessitatibus nihil quia quisquam odio placeat voluptates unde a dicta magnam, recusandae expedita quidem?</p>
</div>
</div>
 

<div class="mt-3 border p-3">
<img src="images/p8.jpg"alt="..."width="350px"height="300px" style="border-radius:15px">
<div class="card-body">
    <p class="p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni voluptatibus ipsa sed cum, dolores omnis ab beatae pariatur doloribus enim minima ipsum voluptatem adipisci fugiat quis error qui, cumque nisi, earum molestiae aliquam. Facere repudiandae iste praesentium optio tempore nam quos. Asperiores, fugit velit praesentium harum sit sequi nemo a quod soluta similique voluptatum non quisquam accusamus dolor in quidem nesciunt? Quisquam, id cupiditate? Odio magni ipsam praesentium dolorem accusamus laborum eaque sequi laboriosam, ad sit dolores exercitationem vel dignissimos cumque quos odit voluptatibus quaerat quasi itaque possimus officiis? Sapiente voluptatibus rem aliquam dicta. Perspiciatis reiciendis accusantium rerum aspernatur, ab tempora! Quod non vero aperiam nemo, facilis quis a velit blanditiis molestias quo reiciendis modi molestiae assumenda culpa iusto rem aspernatur quam dignissimos! Provident accusamus praesentium, totam ducimus sint cumque deserunt ea laborum illum ratione quam cum nisi ut, aperiam odit modi quidem alias eaque at sapiente perferendis. Minus maxime ab sapiente hic perferendis quod quasi maiores magnam alias dolore eius, beatae facere mollitia voluptate deserunt id, ipsum doloremque illo nostrum commodi saepe dignissimos? Nam minima debitis porro aspernatur quos? Est et cupiditate tenetur illum fuga necessitatibus nihil quia quisquam odio placeat voluptates unde a dicta magnam, recusandae expedita quidem?</p>
</div>
</div>
</div>
{{>footer}}